body {
}

.navigation {
    background-color: #a41e35;
}


.font {
    font-family: pt-san;
    font-size: 50px;
    text-align: center;
    padding: 100px;
    color: white;
    font-weight: bold;
}

.title {
    color: #a41e35;
    font-family: "Arvo";
    font-weight: bold;
    font-style: italic;
    text-align: center;
    padding-top: 50px;
}

.headerText {
    color: #a41e35;
    font-family: "Arvo";
    font-weight: bold;
    font-style: italic;
    text-align: center;
    padding-top: 20px;
    font-size: 35px;
}


Th {
    background-color: #a41e35;
    color: white;
    font-weight: bold;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1.3em;
}

.tableStyle th{
    background-color: white;
    color: white;
    font-weight: bold;
    font-family: pt-san;
    font-size: 1.3em;
}

.templeButton {
    background-color: #a41e35;
    width: 60%;
    color: white;
}

.contentArea {
    border: 1px solid lightgrey;
    border-radius: 10px;
    width: 90%;
    margin: auto;
    padding: 10px;
    box-sizing: border-box;
}

.commentTable{
    border: 1px solid #a41e35;
    border-radius: 10px;
    width: 90%;
    margin-left: 6%;
    margin-top: 3%;
    box-sizing: border-box;
}
#commentTableHeader{
    margin-top: -16px;
    margin-bottom: -54px;
    background-color: #a41e35;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    padding-bottom: 8px;
    padding-top: 8px;
}

#submittedContentHeader{
    margin-top: -16px;
    background-color: #a41e35;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    padding-bottom: 2px;
    padding-top: 8px;
}

.inputBox {
    width: 100%;
    border-radius: 5px;
}

.btnFormType1 {
    box-sizing: border-box;
    border-radius: 5px;
    font-size: 16px;
    width: 48%;
    text-align: left;
    background-color: #a41e35;
    border-color: #a41e35;
    color: white;
}

.btnFormType2 {
    box-sizing: border-box;
    border-radius: 5px;
    font-size: 16px;
    width: 48%;
    text-align: left;
}

.infoIcon{
    height: 25px;
    width: 25px;
}

.btnAttachCOI {
    box-sizing: border-box;
    border-radius: 5px;
    font-size: 16px;
    width: 35%;
    background-color: #a41e35;
    border-color: #a41e35;
    color: white;
}

.ExemptionCheck {
    font-size: 18px;
    margin: auto;
}

.btnEnd {
    box-sizing: border-box;
    border-radius: 5px;
    font-size: 16px;
    width: 100%;
    background-color: #007bc2;
    border-color: #007bc2;
    color: white;
}

.progress{
    height:3rem;
    border-radius: 2.25rem;
}

.progress-bar{
    background-color:#fff;
}

#lblFirstStep{
    margin-left:29%;
}

